<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body  background= "../model/feedback.jpg" >
	<br>
	<br>
	<br>
    <br>
<h1 style=" color: blue; text-align:left;">Complain/Feedback</h1>
<font color="black">	
<form  action="../controller/ComplainRating.php" method="POST">
<fieldset >
<br>
<br>

<label for="complain"></label>
<textarea name="complain" id="complain" rows="8" cols="40" placeholder="Complain Box"></textarea>
<br>
<br>
<br>
<font size="4">
<label for="rating" >Rating: </label>
<input type="radio" name="rating" id="one" value="one" required="required">
<label for="one">1</label>

<input type="radio" name="rating" id="two" value="two" required="required">
<label for="two">2</label>

<input type="radio" name="rating" id="three" value="three" required="required">
<label for="three">3</label>

<input type="radio" name="rating" id="four" value="four" required="required">
<label for="four">4</label>

<input type="radio" name="rating" id="five" value="five" required="required">
<label for="five">5</label>

</font>


</fieldset></b>
	<br>
<input style="font-family: 'Cormorant Garamond'; color: black; font-size : 15px; width: 80px; height: 30px;" type="submit" value="Submit">
<input style="font-family: 'Cormorant Garamond'; color: black; font-size : 15px; width: 80px; height: 30px;" onclick="history.go(-1);" type="button" value="Back">
</form>
</font>

</body>
</html>