<!DOCTYPE html>
<html>
<head>
<title>Checkinout</title>
</head>
<body background="../model/checkout.png"style="
    background-repeat: no-repeat;
    background-size: cover;">

<label for="UserId">UserId</label>
<input type="text" name="UserId" id="UserId">

<label for="Name">Name:</label>
<input type="text" name="Name" id="Name">

<label for="PhoneNumber">PhoneNumber</label>
<input type="text" name="PhoneNumber" id="PhoneNumber">


<label for="CheckOut">CheckOut</label>
<input type="text" name="CheckOut" id="CheckOut">

<br><br>

 <button id="submit" onclick="submit()">Submit</button>

<p id="p1"></p>

<br>
<hr>
<br>
</body>

<body>

 <h1>Search By Id </h1>

<label for="searchKey">ID:</label>
<input type="number" name="searchKey" id="searchKey">

 <button id="search" onclick="search()">Search</button>
<br><br>
<button onclick="history.go(-1);">Back </button>
<p id="p2"></p>

 

</body>
</html>