<!DOCTYPE html>
<html>
<head>
<title>front page</title>
</head>
<body background="../model/hotel.jpg" style="
    background-repeat: no-repeat;
    background-size: cover;">
<center>
	<br>
	<br>
	<br>
<h1 style=" font-family: 'Cooper Black'; text-align:centre;"> HOTEL MANAGEMENT SYSTEM</h1>


<button onclick="window.location.href='Registration.html'" style="font-family: 'Cooper Black'; font-size: 18px; width: 200px; height: 50px;  color:black; border-color:black;">Sign Up</button>

<br>
<br>


<button onclick="window.location.href='Login.html'" style="font-family: 'Cooper Black'; font-size: 18px; width: 200px; height: 50px;  color:black;   border-color:black;">Login</button>

<br>
<br>



        <br>
        <br>

</center>

 


</font>



</body>
</html>