<!DOCTYPE html>
<html>
<head>
  <title>Room Cleaner</title>
</head>
<body background="../model/roomservice.jpg"style="
    background-repeat: no-repeat;
    background-size: cover;">

  <center>
  <button onclick="window.location.href='RDirty.php'" style="font-family: 'Cooper Black'; font-size: 18px; width: 200px; height: 80px;  color:black;  background:orangered; border-color:black;">Room Service</button>
<br>
<br>
<br>
<br>
<button onclick="history.go(-1);" style="font-family: 'Cooper Black'; font-size: 18px; width: 200px; height: 80px;  color:black;  background:orangered; border-color:black;">Back</button>

<br>
</center>

</body>
</html>